---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
{
  base: '/docs'
}
---

<Layout title="Kawasaki Motos" content="Kawasaki motos de argentina, las mejores motos kawasaki">
	<main>
		<Hero/>
	</main>
</Layout>
