<section id="motos">
	<div id="VERSYS">
		<img class="" src="../../public/motos-logo/VERSYS-650-L.svg" alt="versys-name"></div>
		<img src="../../public/motos/VERSYS-650.png" alt="versys">
		<div id="details">
			<h1>Destacados</h1>
			<p>CILINDRADA: 449 cm³<br>Motor de 4 tiempos</p>
		</div>
		<button>mas</button>
	</div>
</section>