---

---

<header class="fixed z-30 w-screen   flex items-center place-content-center content-center">
    <div class="flex w-full items-center  h-20">
        <img class="w-5 " src="../../public/menu.svg" alt="">
        <h1 class=" text-lime-500 text-2xl font-extrabold relative left-2/4">Kw</h1>
    </div>
</header>
