---

---

<header class="fixed w-full  z-20 p-4 place-content-center flex">
        <div class="flex items-center w-10/12 justify-between">
        <img class="w-5" src="../../public/menu.svg" alt="">
        <h1 class=" text-lime-500 text-2xl font-extrabold relative select-none rounded-md px-6">Kw</h1>
        <img class="w-6 relative" src="../../public/user.svg" alt="user">
    </div>
</header>

<style>

</style>