---
import Nav from "./Nav.astro";


---

<header class="fixed w-full z-20 p-4 place-content-center flex">
        <div class="flex items-center place-content-center w-10/12 justify-between">
        <div class="flex flex-col ">
            <img style="cursor: pointer;" id="open" class="w-[30px]" src="../assests/img/icons/menu.svg" alt="menu">
                <div id="menu"  style="backdrop-filter: blur(10px);
    " class=" hidden items-center place-content-center w-auto h-auto p-3 absolute top-[62px] bg-[#00000069]">
                    <nav>
                        <ul class="flex place-content-center flex-col items-start">
                            <li class="p-[2px]"><a class="text-lg text-slate-100 font-medium" href="#">Inicio</a></li>
                            <li class="p-[2px]"><a class="text-lg text-slate-100 font-medium" href="#">Motos</a></li>
                            <li class="p-[2px]"><a class="text-lg text-slate-100 font-medium" href="#">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
        </div>
        <img class="w-[35px] flex items-center place-content-center" src="../assests/img/icons/logo-kawa.svg" alt="logo">
        <img class=" cursor-pointer w-6 relative" src="../../public/icons/user.svg" id="open-2" alt="user">
        <div id="log"  style="backdrop-filter: blur(3px);
    " class="hidden items-center place-content-center w-auto h-auto p-3 absolute right-10 top-[62px] bg-[#00000069]">
            <form class="flex flex-col py-3" action="login">
                <input id="add2" class=" outline-none border-none  m-2 bg-[#ffffff44] text-black text-lg font-normal px-2 py-1" type="email" placeholder="example@gmail.com">
                <input id="add" class="outline-none m-2 bg-[#ffffff44] text-black text-lg px-2 py-1" type="password" name="passwod" id="pw" placeholder="password">
                <input   class="text-xl font-medium cursor-pointer m-2 bg-lime-500 rounded-md p-2 " type="button" value="Inicio Sesion">
            </form>
        </div>
    </div>
</header>

<style>
    *{
        font-family: "poppins";
    }
    #add::placeholder{
    color: black !important;
}
    #add2::placeholder{
    color: black !important;
}
    header{
        transition: backdrop-filter 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-in-out;
        transition: background .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .hdr{
        backdrop-filter:blur(3px);
        background:#00000069 ;
    }
    .visible{
        animation: animation-bar .5s steps(60) forwards;
        display: flex;
    }
    .visible2{
        animation: animation-bar .5s steps(60) forwards;
        display: flex;
    }
@keyframes animation-bar {
    0%{
        top: 0rem;
        opacity: 0.3;
        height: 0px;
    }
    100%{
        width: auto;
        top:3.9rem;
        height: 200px;
    }
}
</style>
<script>
    const header = document.querySelector("header");
//TRANSICION DE CLASS
    window.addEventListener("scroll",()=>{
        header!.classList.toggle("hdr", window.scrollY > 3);
    });

    const click = document.getElementById("open");
    const menu = document.getElementById("menu");

    click?.addEventListener("click", ()=>{
        menu?.classList.toggle("visible");
    })
    
    const click2 = document.getElementById("open-2");
    const log = document.getElementById("log");

    click2?.addEventListener("click", ()=>{
        log?.classList.toggle("visible2");
    })
    </script>