---

---
<div class=" w-full relative items-center flex flex-col place-content-center z-0">
    <div class=" w-full h-screen z-0 absolute bg-gradient-to-t from-black/70 via-white/10 to-black/70"></div>
    <div class="absolute flex flex-col items-center">
            <img class=" z-20 w-[400px] left-0 right-0 m-auto" src="../../public/hero-t.svg" alt="">
        <h2 class=" text-xl text-lime-500 font-bold">Heavy Industries</h2>
    </div>
    <img class=" w-full h-screen relative -z-10 object-cover object-top "  src="../../public/hero.webp" alt="Kawasaki Hero">
</div>
