---

---
<section class=" w-full h-screen flex relative items-center place-content-center z-10">
    <div class=" w-full h-screen z-10 absolute bg-gradient-to-t from-black/70 via-white/10 to-black/70"></div>
            <img class="absolute w-80 z-20 mb-24" src="../../public/hero-t.svg" alt="">
        <h2 class="absolute text-xl text-lime-600 font-bold">Heavy Industries</h2>
    <img class="w-full h-screen relative -z-10 object-cover"  src="../../public/hero.webp" alt="Kawasaki Hero">
</section>
