---
import imgHero2 from '../assests/img/icons/hero-t2.svg'
---
<div class="w-full relative items-center flex flex-col place-content-center z-0">
    <div style="clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 91%, 0 0);
" class=" w-full h-screen z-0 absolute bg-gradient-to-t from-black/70 via-white/10 to-black/70"></div>
    <div class="absolute flex  palce-content-center items-center">
            <img id="img-text" class=" z-20 w-[400px] m-auto" src={imgHero2} alt="aver">
    </div>
    <img style="clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 91%, 0 0);
" class=" w-full h-screen relative -z-10 object-cover object-top "  src="../assests/img/hero/hero.webp" alt="Kawasaki Hero">
</div>
    
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>