---
import Card from "./Card.astro";


---
<main>
    <Card
        logo="../../motos-logo/VERSYS-L.svg"
        moto="../../motos/VERSYS-650.png"
        destacados1="CILINDRADA: 649 cm³"
        destacados2="Potencia máxima: 49 kW {67 CV} / 8.500 rpm"
        alt1="Versys-logo"
        alt2="Versys"
    />
    <Card
        logo="../../motos-logo/KX-450-L.svg"
        moto="../../motos/KX-450-F.png"
        destacados1="CILINDRADA: 449 cm³"
        destacados2="Motor de 4 tiempos"
        alt1="Versys-logo"
        alt2="Versys"
    />
    <Card
        logo="../../motos-logo/Z-400-L.svg"
        moto="../../motos/Z-400.png"
        destacados1="Cilindrada: 399 cm³"
        destacados2="Potencia máxima: 33,4 kW {45 CV} / 10.000 rpm"
        alt1="Versys-logo"
        alt2="Versys"
    />
    <Card
        logo="../../motos-logo/NINJA-ZX.svg"
        moto="../../motos/NINJA-ZX-14R.png"
        destacados1="CUATRO CILINDROS EN LÍNEA DE 1.441 C. C."
        destacados2="CON INYECCIÓN DIGITAL DE COMBUSTIBLE ELECTRÓNICA A BORDO PREMIUM"
        alt1="Versys-logo"
        alt2="Versys"
    />

</main>