    <div  style="backdrop-filter: blur(10px);
    " class=" hidden flex items-center place-content-center w-auto h-auto p-3 absolute top-16 bg-[rgba(0,0,0,0.23)] rounded-md">
    <nav>
        <ul class="flex place-content-center flex-col items-start">
            <li class="p-[2px]"><a class="text-lg text-slate-100 font-medium" href="#">Inicio</a></li>
            <li class="p-[2px]"><a class="text-lg text-slate-100 font-medium" href="#">Motos</a></li>
            <li class="p-[2px]"><a class="text-lg text-slate-100 font-medium" href="#">Contacto</a></li>
        </ul>
    </nav>
</div>
<script>
</script>

