---
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';

interface Props {
	title: string;
	content:string;
}
const {content} = Astro.props;
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={content}/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Main/>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
	
	*{
		margin: 0;
		padding: 0;
	}
	html {
		font-family:"Inter";
	}

</style>
